* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  max-width: 600px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 20px;
  font-family: 'Roboto', sans-serif;
}

.App::after {
  display: inline-block;
  position: absolute;
  content: '';
  width: 3px;
  height: 100%;
  border-right: 3px dashed #d3d3d3;
  z-index: -1;
}

.today-container {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.today {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.today-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 5px;
}

.arrow {
  position: relative;
  top: -25px;
  width: 90%;
  height: 0.2rem;
  border-radius: 1rem;
  background: #a5a5a5;
  z-index: -1;
}

.arrow::before,
.arrow::after {
  content: '';
  position: absolute;
  z-index: -2;
  right: -4px;
  width: 0.876rem;
  height: inherit;
  background: inherit;
}

.arrow::before {
  top: -4px;
  transform: rotate(45deg);
}

.arrow::after {
  top: 5px;
  transform: rotate(-45deg);
}

.event-contrainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 8px 0;
  padding: 12px;
  background-color: lightgray;
  border-radius: 15px;
  color: #fff;
}

.event-contrainer:nth-child(1) {
  margin-top: 20px;
}

.event-header {
  display: flex;
}

.event-title {
  display: inline-block;
  width: 90%;
  font-size: 1.4rem;
  font-weight: 600;
  color: #fff;
  margin: 0 0 8px 0;
}

.event-category {
  position: relative;
  padding: 5px;
  font-size: 1.2rem;
  top: -1.5rem;
  right: -2.7rem;
  border: 6px solid;
  border-radius: 50%;
}

.event-icon {
  display: inline-block;
  font-size: 1.5rem;
  margin: 0 10px 0 0;
}

.event-body {
  display: flex;
}

.event-text {
  display: flex;
  flex-direction: column;
}

.event-timing {
  font-size: 0.75rem;
  opacity: 0.9;
  font-weight: 300;
}

.event-date {
  font-size: 0.8rem;
  font-weight: 600;
}

.blue {
  background-color: #66a1ff;
}

.red {
  background-color: #ff4a6e;
}

.green {
  background-color: #53bd53;
}

.grey {
  background-color: #949494;
}

.purple {
  background: #b43cd5;
}

.add-btn {
  position: absolute;
  font-size: 2rem;
  padding: 0.5rem;
  bottom: 10%;
  right: 10%;
}

.add-form {
  position: fixed;
  top: 20%;
  margin: 0 auto;
  padding: 20px;
  width: 400px;
  max-width: 90%;
  background: #ffffff;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-shadow: 2px 4px 12px rgb(0 0 0 / 8%);
  transition: all 0.3s cubic-bezier(0, 0, 0.5, 1);
  z-index: 100;
}

.form-control {
  width: 100%;
  margin: 0 auto 10px auto;
}

.form-control label {
  display: block;
  color: #949494;
}

.form-control input[type='text'],
.form-control input[type='date'],
.form-control select {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: none;
  border-radius: 8px;
  background-color: #ebebeb;
  color: #000000;
  font-weight: 600;
  font-size: 1rem;
}

.form-control .radio-colors {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.8rem;
  background-color: #ebebeb;
  border-radius: 15px;
}

.radio-colors input[type='radio'] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.radio-colors label {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: transparent;
  border-radius: 13px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.radio-colors input[type='radio']:checked + label {
  border: 2px solid #444;
}

.radio-colors input[type='radio']:focus + label {
  border: 2px solid #444;
}

.radio-colors label:hover {
  transform: scale(1.1);
}

input.btn-block {
  display: block;
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: none;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  margin: 1.5rem 0 0 0;
  cursor: pointer;
  background-color: #888888;
  color: #ffffff;
  font-weight: 600;
  font-size: 1.5rem;
}
